{% extends 'base.html' %}

{% block content %}
<div class="container">
  <form id="form" hx-post="/report" hx-target="body" hx-swap="outerHTML" hx-encoding="multipart/form-data">
    <fieldset>
      <legend>Select your report</legend>
      <div class="form-group">
        <label for="file">.xlsx file:</label>
        <input type="file" name="file" id="file" accept=".xlsx" required>
        <div class="error">{% if error %}{{ error }}{% endif %}</div>
      </div>
    </fieldset>

    <div class="form-group">
      <button type="submit">Upload</button>
    </div>

    <progress id="progress" value="0" max="100"></progress>
  </form>

  <script>
    htmx.on('#form', 'htmx:xhr:progress', function(evt) {
      htmx.find('#progress').setAttribute('value', evt.detail.loaded / evt.detail.total * 100)
    });
  </script>
</div>
{% endblock %}
