{% extends 'base.html' %}

{% block content %}

<nav>
  <ul>
    <li><a href="{{ url_for('home') }}">Home</a></li>
  </ul>
</nav>

<h1>ETF Portfolio Performance</h1>

<pre>
Return on Investment (ROI): Current Value / Initial Investment - 1
{{ activity_report.current_value(boc_usdcad)|currency }} / {{ activity_report.initial_investment()|currency }} - 1 = {{
(activity_report.roi(boc_usdcad)*100)|round(2) }}%

Deposits: {{ activity_report.deposits_sum()|currency }}
Withdrawals: {{ activity_report.withdrawals_sum()|currency }}
Fees and Rebates: {{ activity_report.fees_and_rebates_sum()|currency }}
Interest: {{ activity_report.interest_sum()|currency }}
Trades: {{ activity_report.trades_sum()|currency }}
Dividends: {{ activity_report.dividends_sum()|currency }}
BoC USDCAD: {{ boc_usdcad|round(4) }}
</pre>
{% endblock %}
